<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1" *ngIf="esAdmin">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tipo producto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" *ngIf="esAdmin">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="combo" href="/tabs/combo"  *ngIf="esAdmin">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Combo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="corte-caja" href="/tabs/corte-caja">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Corte caja</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orden" href="/tabs/orden">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Venta ordenes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
1. Ventana tipo producto (CRUD) 2. Ventana agregar producto(CRUD) 3. Ventana
agregar combo(CRUD) -Ventana corte caja (este no depende de los demás) -Ventana
de login (este no depende de los demás) 4. Ventana ordenes (CRUD)
