<ion-content [fullscreen]="true">

  <div class="background-container"></div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>Productos</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Descripción</ion-col>
      <ion-col>Precio</ion-col>
      <ion-col>Tipo de Producto</ion-col>
      <ion-col>Edición</ion-col>
    </ion-row>

    <ion-row *ngFor="let row of dataSource">
      <ion-col>{{ row.descripcion }}</ion-col>
      <ion-col>{{ row.precio }}</ion-col>
      <ion-col>{{ getTipoProductoDescription(row.idTipoProducto) }}</ion-col>
      <ion-col>
        <button mat-icon-button color="black" (click)="editProduct(row)">
          <mat-icon>edit_square</mat-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-content-descripcion>
    <span class="form-header-container">Descripción</span>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion" name="descripcion" type="text" required></ion-input>
    </ion-item>
  </ion-card-content-descripcion>

  <ion-card-content-clave>
    <span class="form-header-container">Precio</span>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="precio" name="precio" type="number" required></ion-input>
    </ion-item>
  </ion-card-content-clave>

  <ion-card-content-tipoProducto>
    <span class="form-header-container">Tipo de Producto</span>
    <ion-item>
      <ion-select [(ngModel)]="idTipoProducto">
        <ion-select-option *ngFor="let element of productTypes" [value]="element.idTipoProducto">
          {{element.descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-card-content-tipoProducto>


  <ion-button color="light" shape="round" [disabled]="!isNotEmpty()" (click)="onSubmit()">Confirmar</ion-button>

</ion-content>
