<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar Tipo de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="background-container"></div>

  <ion-card-content-descripcion>
    <span class="form-header-container">Descripción</span>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion" name="descripcion" type="text" required></ion-input>
    </ion-item>
  </ion-card-content-descripcion>

  <ion-card-content-clave>
    <span class="form-header-container">Precio</span>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="precio" name="precio" type="number" required></ion-input>
    </ion-item>
  </ion-card-content-clave>

  <ion-card-content-tipoProducto>
    <span class="form-header-container">Tipo de Producto</span>
    <ion-item>
      <ion-select [(ngModel)]="idTipoProducto">
        <ion-select-option *ngFor="let element of productTypes" [value]="element.idTipoProducto">
          {{element.descripcion}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-card-content-tipoProducto>

  <ion-button color="light" shape="round" [disabled]="!isNotEmpty()" (click)="onSubmit()">Confirmar</ion-button>

  <ion-button class="deleteIonButton" color="danger" shape="round" (click)="onSubmitDelete()">Borrar</ion-button>

</ion-content>
