<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">orden</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6">
        <ion-grid>
          <!-- Para productos -->
          <ion-row>
            <ion-col>
              <div class="bg-negro">
                <ion-title>Productos</ion-title>
                <hr style="background-color: whitesmoke;">
                <ion-list>
                  <ion-item *ngFor="let producto of productos">
                    <ion-button slot="start" (click)="eliminarProducto(producto.idProducto,producto.precio, producto.descripcion)" [disabled]="habilitarBtnMenosProducto(producto.idProducto)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
                    <ion-label class="ion-text-center">{{producto.descripcion}} - ${{producto.precio}}</ion-label>
                    <ion-button slot="end" (click)="agregarProducto(producto.idProducto,producto.precio, producto.descripcion)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
                  </ion-item>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>

          <!-- Para combos -->
          <ion-row>
            <ion-col>
              <div class="bg-negro">
                <ion-title>Combos</ion-title>
                <hr style="background-color: whitesmoke;">
                <ion-list>
                  <ion-item *ngFor="let combo of combos">
                    <ion-button slot="start" (click)="eliminarCombo(combo.idCombo,combo.total, combo.descripcion)" [disabled]="habilitarBtnMenosCombo(combo.idCombo)"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
                    <ion-label class="ion-text-center">{{combo.descripcion}} - ${{combo.total}}</ion-label>
                    <ion-button slot="end" (click)="agregarCombo(combo.idCombo,combo.total, combo.descripcion)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>
                  </ion-item>
                </ion-list>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col sizeMd="6">
        <div class="bg-negro-2" style="padding-bottom: 3vh;">
          <ion-title>Orden</ion-title>
          <hr style="background-color: whitesmoke;">
          
          <ion-list>
            <ion-item *ngFor="let detalle of detalleOrden">
              {{detalle.cantidad}}
              <ion-label class="ion-text-center">{{detalle.descripcion}} - ${{detalle.total}}</ion-label>
              <ion-button slot="end" (click)="eliminarDeOrden(detalle.idProducto,detalle.idCombo)"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </ion-item>
          </ion-list>

          <ion-label style="padding-left: 5vh; font-size: 20px; font-weight: bold;">Total: {{orden.total}}</ion-label>
          <ion-button slot="end" class="enviar" style="padding-left: 5vh;" (click)="enviarOrden()">Confirmar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
