<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>

    <ion-button id="click-trigger"
      ><ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        /> </ion-avatar
    ></ion-button>
    <ion-popover trigger="click-trigger">
      <div class="wrapper">
        <ng-template>
          <ion-content
            class="ion-padding ion-activatable ripple-parent rounded-rectangle"
            (click) = "logout()"
            >Logout
            <ion-ripple-effect></ion-ripple-effect>
          </ion-content>
        </ng-template>
      </div>
    </ion-popover>

    <ion-label>{{nombreUsuario}}</ion-label>
  </ion-toolbar>
</ion-header>
